fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic>=2.7.4
pydantic-settings
python-multipart
streamlit
plotly
streamlit-aggrid
langchain
langchain-community
presidio-analyzer
presidio-anonymizer
spacy
PyJWT
pytest
requests
python-dotenv
reportlab
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
